{% extends "layout.html" %}
{% block content %}
            <section class="container" id="block-info">
                <h5 class="title">Block Info</h5>
                <div class="row">
                    <div class="column column-75">
                        <dl>
                            <dt>Hash</dt>
                            <dd><a href="{{ url_for('block', hash=block['hash']) }}">{{ block.hash }}</a></dd>
                            <dt>Height</dt>
                            <dd>{{ block.height }}</dd>
                            <dt>Difficulty</dt>
                            <dd>{{ block.difficulty }}</dd>
                            <dt>Date</dt>
                            <dd>{{ block.time }}</dd>
                            {% if prevblock %}
                            <dt>Previous Block</dt>
                            <dd><a href="{{ url_for('block', hash=prevblock['hash']) }}">Block {{ prevblock.height }}</a></dd>
                            {% endif %}
                            {% if nextblock %}
                            <dt>Next Block</dt>
                            <dd><a href="{{ url_for('block', hash=nextblock['hash']) }}">Block {{ nextblock.height }}</a></dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </section>

            <section class="container" id="block-txs">
                <h5 class="title">Block Transactions</h5>
                <div class="row">
                    <div class="column column-75">
                        <dl>
                            {% for tx in transactions %}
                            <dt>Transaction: <a href="{{ url_for('transaction', txid=tx['txid']) }}">{{ tx.txid }}</a></dt>
                            <dd>
                                <dl>
                                    {% for output in tx['out'] %}
                                    <dt>Address</dt>
                                    <dd><a href="{{ url_for('address', address=output['address']) }}">{{ output.address }}</a></dd>
                                    <dt>Value</dt>
                                    <dd>{{ output.satoshis }}</dd>
                                    {% endfor %}
                                </dl>
                            </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </section>
{% endblock %}
