{% extends "layout.html" %}
{% block content %}
            <section class="container" id="blockchain-stats">
                <h5 class="title">Blockchain stats</h5>
                <div class="row">
                    <div class="column column-33">
                        <dl>
                            <dt>Difficulty</dt>
                            <dd>{{ blockchain.difficulty }}</dd>
                            <dt>Height</dt>
                            <dd>{{ blockchain.height }}</dd>
                        </dl>
                    </div>
                    <div class="column column-33">
                      <dl>
                          <!-- <dt>Block</dt>
                          <dd><a href="{{ url_for('block', hash=blockchain.hash) }}">{{ blockchain.hash }}</a></dd> -->
                          <dt>Date</dt>
                          <dd>{{ blockchain.time }}</dd>
                      </dl>
                    </div>
                </div>
            </section>

            <section class="container" id="recent-blocks">
                <h5 class="title">Recent Blocks</h5>
                <div class="row">
                    <div class="column column-75">
                        <ul>
                            {% for block in recent_blocks %}
                            <li><a href="{{ url_for('block', hash=block.hash) }}">Block {{ block.height }}</a>: {{ block.num_transactions }} transactions</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
{% endblock %}
